.style{
	color:red;
}
input {
    border: 10;
    #outline: 0;
    background: white;
   # border-bottom: 2px solid black;
    width: 300px;
    height: 20px;
}
progress{
 width: 500px;   
 #border: 1px solid black;
 position: center;
 #padding: 3px;
 background-color: green;  
 height:25px;
}

#percent {
 position: absolute;   
 left: 50%;
}
#bar {
 height: 20px;
 background-color: green;
 width: 10%;
}   
.mybar{
    background-color: green;
}
.left{
    width: 60%;
    float: left; 

}
.right{
    width: 20%;
    float: left; 
    background-color:#9cdd5c;
    margin-left:2 cm;
}

p{
      font-size: 14px;
    color: #FFFFFF;
}

li{
   background-color: #fffff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fffff;
}
.test{
    font-family: serif; 
    font-size: 40px;
    width: 60%;
    float: left; 
}

.navbar-default {
    background-color: #32cd32;
    border-color: #030033;
}
